// Body
$body-bg: #f8fafc;
$info-light:rgba(130, 40, 40, 0.626);
$client-custom:20px; //font-size
$client-img: 15px ; //border-radious
$card-height:700px;

$back-app:url('https://st4.depositphotos.com/6000140/i/600/depositphotos_199833048-stock-photo-blurred-background-modern-kitchen-with.jpg');

$container-p:relative; //container position for category pos.
$category:absolute;  //position
$category-position-top:0px;
$category-position-right:0px;

$back-show:rgba(34, 33, 33, 0.666);
$color-show:rgb(230, 226, 226);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
